<div class="animated fadeIn">
    <c-row>
        <c-col>
            <c-card>
                <nav class="navbar navbar-expand-lg" style="margin-top:10px;">
                    <ul>
                        <a class="navbar-brand" href="#"><img src="" alt=""> </a>
                    </ul>
                    <ul>
                        <h4 style="color: rgba(51, 153, 255, 100)">
                            RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE AND SCIENCE
                            (AUTONOMOUS)<br>
                            <h6 style="color: black;">Opposite Ghatkopar Railway Station West Mumbai-400086,
                                Maharashtra, India</h6>
                        </h4>
                    </ul>
                </nav>
            </c-card>
        </c-col>
    </c-row>
</div>

<div class="app-body bg-light min-vh-100">
    <main class="main d-flex align-items-center">
        <div class="container">
            <c-row>
                <c-col [md]="6" class="mx-auto">
                    <br>
                    <br>
                    <c-card class="mx-4">
                        <c-card-body class="card-body p-4">
                            <form [formGroup]="ResetPasswordForm" (ngSubmit)="onResetPassword()">
                                <h2 style="padding-left: 15px;">Reset Your Password</h2>
                                <!-- <p class="text-muted">Dear XXXXXX</p> -->
                                <c-col [sm]="12">
                                    <label size="sm" class="required" for="newPassword">New Password</label>
                                    <input cFormControl sizing="sm"  id="newPassword" type="password" formControlName="newPassword"
                                           [ngClass]="{ 'is-invalid': (submitted || f1['newPassword']?.touched) && f1['newPassword']?.errors,
                                                'is-valid': f1['newPassword']?.touched && !f1['newPassword']?.errors }"
                                           class="form-control"
                                           placeholder="Password">
                                    @if (submitted && f1['newPassword'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f1['newPassword'].errors?.['required']) {
                                                <div>Password is required</div>
                                            }
                                            @if (f1['newPassword'].errors['pattern']) {
                                                <div>Must contain Uppercase , Lowercase and digit with 8 min characters
                                                </div>
                                            }
                                        </div>
                                    }
                                </c-col>
                                <c-col [sm]="12">
                                    <label size="sm" class="required" for="confirmPassword">Confirm Password</label>
                                    <input cFormControl sizing="sm"  id="confirmPassword" type="password" formControlName="confirmPassword"
                                           [ngClass]="{ 'is-invalid': (submitted || f1?.['confirmPassword']?.touched) && f1?.['confirmPassword'].errors,
                                      'is-valid': f1['confirmPassword']?.touched && !f1['confirmPassword']?.errors }"
                                           class="form-control"
                                           placeholder="Password">
                                    @if (submitted && f1['confirmPassword'].errors) {
                                        <div class="invalid-feedback">
                                            @if (f1['confirmPassword'].errors?.['required']) {
                                                <div>Password is required</div>
                                            }
                                            @if (f1['confirmPassword'].errors?.['mustMatch']) {
                                                <div>Password must match</div>
                                            }
                                        </div>
                                    }
                                </c-col>

                                <br>

                                <c-col [sm]="12">
                                    <!-- <button type="button" class="btn btn-block btn-success">Create Account</button> -->
                                    <button type="submit" class="btn btn-block btn-success"> Reset Password</button>

                                </c-col>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </div>
    </main>
</div>
