




<c-card>
    <c-card-body>
        <c-smart-table
                [itemsPerPage]="5"
                [items]="AppliedCourses"
                [tableProps]="{ hover: true, striped: true, responsive: true }"
                header
                pagination
                selectable
                (selectedItemsChange)="onSelectedItemsChange($event)"
                #table="cSmartTable"
        >
            <ng-template cTemplateId="tableSummaryRow">
                <tr cTableColor="info">
                    <!--                <th style="width: 15%;">Selected: {{selectedItemsCount()}}.</th>-->
                    <th [attr.colspan]="table.columns?.length">
                        <!--                  Items count: {{usersData?.length ?? 0}}.-->
                    </th>
                </tr>
            </ng-template>
        </c-smart-table>
    </c-card-body>
</c-card>

<!--<div class="my-2"></div>-->



<div>
    <h5 class="text-danger text-decoration-underline">Note : Click on Row to check the status</h5>
    <c-row>
        <c-col [md]="6">
            <h4 size="sm">Batch Name : {{this.selected_data?.Batch_name}} </h4>
        </c-col>
        <c-col [md]="6">
            <h4 size="sm"> Status : {{this.selected_data?.Admission_status}} </h4>
        </c-col>

        <c-row>
            <c-col [sm]="3">
                <button
                        cButton
                        type="submit"
                        class="btn-add text-white buttons"
                        (click)="ProfilePrint()"
                >
                    Profile Print

                </button>
            </c-col>
        </c-row>
        


    </c-row>
</div>


