.required {
	&:after {
		content: " *";
		color: red;
	}
}

.modal-validation.ng-touched.ng-invalid{
    border:1px solid red;
}
.modal-validation.ng-touched.ng-valid{
    border:1px solid green;
}

.table-bordered-custom {
  border: 2px solid rgba(253, 41, 13, 0.11); // Bootstrap primary
}
