<div class="animated fadeIn">
    <c-row>
        <c-col>
            <c-card>
                <nav class="navbar navbar-expand-lg" style="margin-top:10px;">
                    <ul>
                        <a class="navbar-brand" href="#"><img src="" alt=""> </a>
                    </ul>
                    <ul>
                        <h4 style="color: rgba(51, 153, 255, 100)">
                            RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE AND SCIENCE
                            (AUTONOMOUS)<br>
                            <h6 style="color: black;">Opposite Ghatkopar Railway Station West Mumbai-400086,
                                Maharashtra, India</h6>
                        </h4>
                    </ul>
                </nav>
            </c-card>
        </c-col>
    </c-row>
</div>


<div class="app-body bg-light min-vh-100">
    <main class="main d-flex align-items-center">
        <div class="container">
            <c-row>
                <c-col [md]="6" class="mx-auto">
                    <br>
                    <br>
                    <c-card class="mx-4">
                        <c-card-body>
                            <form [formGroup]="otpVerifyForm" (ngSubmit)="ValidateOTP()">
                                <h1 style="padding-left: 15px;">OTP Verification</h1>
                                <!-- <p class="text-muted">Dear XXXXXX</p> -->
                                <c-col [sm]="12">
                                    <label size="sm" class="required" for="mobileno">Mobile Number</label>
                                    <input cFormControl sizing="sm"  id="mobileno" type="number" formControlName="mobileno" readonly
                                           [ngClass]="{ 'is-invalid': (submitted || f['mobileno'].touched) && f['mobileno'].errors,
                                    'is-valid': f['mobileno'].touched && !f['mobileno'].errors }" class="form-control"
                                           placeholder="Mobile Number">
                                    @if (submitted && f['mobileno'].errors) {
                                        <div class="invalid-feedback">
                                            @if (this['f']['mobileno'].errors['required']) {
                                                <div>Mobile Number is required</div>
                                            }
                                        </div>
                                    }
                                </c-col>
                                <c-col [sm]="12">
                                    <label size="sm" class="required" for="otp">One Time Password</label>
                                    <input cFormControl sizing="sm"  id="otp" type="text" formControlName="otp"
                                           [ngClass]="{ 'is-invalid': (submitted || f['otp'].touched) && f['otp'].errors,
                                    'is-valid': f['otp'].touched && !f['otp'].errors }" class="form-control"
                                           placeholder="One Time Password">
                                    @if (submitted && f['otp'].errors) {
                                        <div class="invalid-feedback">
                                            @if (this['f']['otp'].errors['required']) {
                                                <div>OTP is required</div>
                                            }
                                        </div>
                                    }
                                </c-col>

                                <br>
                                <c-row class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <c-col [sm]="2">
                                        <button type="submit" class="btn btn-block btn-success"> Verify</button>
                                    </c-col>
                                    <c-col [sm]="3">
                                        <button type="submit" class="btn btn-block btn-danger" (click)="GetOTP()">Resend
                                            OTP
                                        </button>
                                    </c-col>
                                </c-row>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </div>
    </main>
</div>

<!-- <app-register hidden [OTPGetValue]="OTPSendValue"></app-register> -->
