.required {
	&:after {
		content: " *";
		color: red;
	}
}

input[readonly] {
  background-color: #f0f0f0; /* Set your desired background color */
  cursor: not-allowed; /* Optional: change the cursor */
}

.impMessage{
  color: red;
  font-size: 15px;
}