pdf-viewer {
    display: block;
    height: 100vh;
  }

  .ng-autocomplete {
    width: 100%;
    }

    .ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
    }

    .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    font-size: 0.875rem;
    display: block;
    height: 2.1875rem;
    padding: 0.375rem 1rem;
    font-weight: 400;
    line-height: 1.52857143;
    color: #495057;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    }

    // .ng-autocomplete ::ng-deep .autocomplete-containers ::ng-deep .suggestions-containers ::ng-deep .item ::ng-deep .row {
    // padding: 0.5rem 1rem;
    // }

    // .ng-autocomplete ::ng-deep .autocomplete-containers ::ng-deep .not-found {
    // border: 0;
    // }
    button{
      width: 100%;
    }

@media screen and (max-width: 500px) {
  .academic-table {
    width: 375px;
    margin-top: 10px;
    //border: 1px solid orange;
  }
  .academic-table thead th, .academic-table tbody td {
    width: 450px;
  }
}
@media screen and (max-width: 412px) {
  .academic-table {
    width: 290px;
    margin-top: 10px;
    //border: 1px solid orange;
  }
  .academic-table thead th, .academic-table tbody td {
    width: 450px;
  }
  .abcid-notes{
    font-size: 15px;
    margin-bottom: 20px;
  }
}

