<div class="animated fadeIn">
    <c-row>
        <c-col>
            <c-card>
                <nav class="navbar navbar-expand-lg" style="margin-top:10px;">
                    <ul>
                        <a class="navbar-brand" href="#"><img src="" alt=""> </a>
                    </ul>
                    <ul>
                        <h4 style="color:  rgba(51, 153, 255, 100)">RAMNIRANJAN JHUNJHUNWALA COLLEGE OF ARTS , COMMERCE
                            AND SCIENCE
                            (AUTONOMOUS)<br>
                            <h6 style="color: black;">Opposite Ghatkopar Railway Station West Mumbai-400086,
                                Maharashtra, India</h6>
                        </h4>
                    </ul>
                </nav>
            </c-card>
        </c-col>
    </c-row>
</div>

<div class="bg-light dark:bg-transparent min-vh-100 pt-5">
    <main class="main d-flex align-items-center">
        <div class="container">
            <c-row>
                <c-col [md]="6" class="mx-auto">
                    <c-card class="mx-4">
                        <c-card-body class="p-4">
                            <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onResendPassword()">
                                <div class="passdata">
                                    <h2 style="padding-left: 15px;">Forgot Password</h2>
                                    <div class="form-group col-sm-12">
                                        <label cLabel class="required" for="Aadhaar">Registered Aadhaar Number</label>
                                        <input cFormControl sizing="sm"  #Aadhaar type="number" id="Aadhaar" formControlName="Aadhaar" [ngClass]="{ 'is-invalid': (submitted || f['Aadhaar'].touched) && f['Aadhaar'].errors,
                                    'is-valid': f['Aadhaar'].touched && !f['Aadhaar'].errors }" class="form-control"
                                               placeholder="Registered Aadhaar">
                                        @if (submitted && f['Aadhaar'].errors) {
                                            <div class="invalid-feedback">
                                                @if (f['Aadhaar'].errors['required']) {
                                                    <div>Aadhar Number is required</div>
                                                }
                                                @if (f['Aadhaar'].errors['minlength']) {
                                                    <div>Aadhar Number must be of 12
                                                        characters
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    
                                    <div style="margin-top: 8px" class="form-group col-sm-12">
                                        <label cLabel class="required" for="mobile">Registered Mobile No</label>
                                        <input cFormControl sizing="sm"  #mobile type="number" id="mobile" formControlName="mobile"
                                               [ngClass]="{ 'is-invalid': (submitted || f['mobile'].touched) && f['mobile'].errors,
                                      'is-valid': f['mobile'].touched && !f['mobile'].errors }" class="form-control"
                                               placeholder="Registered Mobile No">
                                        @if (submitted && f['mobile'].errors) {
                                            <div class="invalid-feedback">
                                                @if (f['mobile'].errors['required']) {
                                                    <div>Mobile No is required</div>
                                                }
                                                @if (f['mobile'].errors['mobile']) {
                                                    <div>Mobile No must be a valid</div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <br>

                                    <c-row>
                                        <img [src]="server_captcha_image" height="60"
                                             style="margin-left :140px; width: 180px;" alt="image">
                                    </c-row>

                                    <c-input-group class="mb-3">
                                    <span cInputGroupText style="height: 40px;">
                                      <svg cIcon name="cilInput"></svg>
                                    </span>
                                        <input cFormControl sizing="sm" 
                                                formControlName="confirmCaptcha"
                                                placeholder="Captcha"
                                                style="height: 40px"
                                        />
                                    </c-input-group>
                                    <br>
                                    <c-col [sm]="12">

                                        <button cButton type="submit"
                                                class="btn btn-block btn-success"> Send OTP
                                        </button>

                                                <!--<button cButton type="submit" class="btn btn-block btn-danger"
                                              (click)="onReset()">Reset</button>-->
                                    </c-col>
                                </div>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </div>
    </main>
</div>

<!-- <app-otp-forgotpassword hidden [OTPGetValue]="otpMobile"></app-otp-forgotpassword> -->
